<html>
  <div>
    <h3>Job Ranked by Level of Interest: </h3>
      <% @interest.each do |key, value| %>
        <ul> The interest level <%= key %> has <%= value %> <%= value != 1 ? "jobs" : "job"%>. </ul>
      <% end %>
  </div>

  <div>
    <h3>Top Three Companies by Average Level of Interest:</h3>
      <% @top_companies.each do |company| %>
        <ul> <%= company.name %>'s average level of interest: <%=Company.avg_job_interest(company.name)%> </ul>
      <% end %>
  </div>

    <h3>Jobs Ranked by Location: </h3> </br>
    <div class="card-group">
      <% @location.each do |key, value| %>
              <div class="col-sm-6 col-sm-4" id="location">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                  <img class="card-img-top" src= "<%="assets/#{key}.jpg"%>" alt="Card image cap" height="150 rem" width=100%>
                    <div class="card-header"><%=link_to key, "/jobs?location=#{key}" %></div>
                    <div class="card-body text info">
                      <p class="card-text"> Has <%= value %> jobs. </p></br>
                    </div>
                </div>
              </div>
      <% end %>
    </div>
</html>
